@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");

body {
  background-color: #2f3640;
  color: whitesmoke;
}

.title,
.subtitle {
  font-family: "Nanum Myeongjo", serif;
}
